# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../:\Arquitectura-EurekaServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
